@import "tailwindcss";

@font-face {
  font-family: "IranSans";
  src: url("../public/fonts/YekanBakhFaNum-Regular.ttf")
  format("woff2"),
  url("../public/fonts/YekanBakhFaNum-Regular.ttf")
  format("woff");
  font-style: normal;
}

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 20, 0, 0;
}
* {
  font-family: "IranSans" !important;
}
body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
          to bottom,
          transparent,
          rgb(var(--background-end-rgb))
  )
  rgb(var(--background-start-rgb));
  overflow-x: hidden;
}

/* افکت درخشش برای اعداد */
.digit-glow {
  text-shadow: 0 0 20px rgba(255, 0, 0, 0.8), 0 0 40px rgba(255, 0, 0, 0.4);
}

/* استایل اینپوت مخفی برای دریافت کیبورد */
.hidden-input {
  position: absolute;
  opacity: 0;
  pointer-events: none;
}

@keyframes ticker {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}
.custom-font{
  font-family: "sans-serif" !important;
}